:root {
  --background: #fffffe;
  --button: #6246ea;
  --paragraph: #2b2c34;
}

@font-face {
  font-family: 'Carino Sans';
  src: url('assets/fonts/CarinoSansRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Carino Sans';
  src: url('assets/fonts/CarinoSansBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Carino Sans';
  src: url('assets/fonts/CarinoSansSemiBold.ttf') format('truetype');
  font-weight: 600;
}

/*Resetting*/
body,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
li {
  /* list-style-type: none; */
}
/*Resetting*/

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: 'Carino Sans';
  font-weight: normal;
  color: var(--paragraph);
}
p {
  color: var(--paragraph);
}
h1 {
  font-weight: bold;
  font-size: 1.6em;
}

li {
}

/* about */
.about h1 {
  text-align: center;
}
.about ul {
  font-size: 1.2em;
  font-weight: 600;
  flex: 1;
}

.about .code {
  font-size: 3em;
  flex: 1;
  text-align: center;

  height: 3em;
}
.code {
  object-fit: contain;
}

.about {
}

.about .skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
/* about */

/* header */

.header {
  overflow: hidden;
  height: 10em;
  text-align: center;
  position: relative;
}
.header h3 {
  font-size: 2em;
  color: white;
  position: absolute;
  filter: drop-shadow(0 0 30px #333);
  width: 100%;
}
.header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.header canvas {
  object-fit: cover;
  min-height: 310px;
  width: 100%;
}

/* header */

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 38px;
  }
}

/* Shape Divider */
.custom-shape-divider-bottom-1631174196 {
  z-index: 2;
  position: relative;
  margin-top: -114px;
  bottom: 0em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631174196 svg {
  z-index: 2;
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.custom-shape-divider-bottom-1631174196 .shape-fill {
  z-index: 2;
  fill: var(--background);
}
/* Shape Divider */
