:root {
  --background: #16161a;
  --button: #7f5af0;
  --main: #fffffe;
  --paragraph: #94a1b2;
}

@font-face {
  font-family: 'Carino Sans';
  src: url('assets/fonts/CarinoSansRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Carino Sans';
  src: url('assets/fonts/CarinoSansBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Carino Sans';
  src: url('assets/fonts/CarinoSansSemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--background);
  font-family: 'Carino Sans';
  font-weight: normal;
}
p {
  color: var(--paragraph);
}
h1 {
  color: var(--main);
  font-weight: bold;
  font-size: 1.6em;
}

.header {
  overflow: hidden;
  background: white;
  height: 18em;
  text-align: center;
}
.header h3 {
  margin-top: 1.5em;
  font-size: 3em;
  color: #7f5af0;
}
.header img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 620px) {
  body {
    font-size: 16px;
  }
}

@media screen and (min-width: 960px) {
  body {
    font-size: 28px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    font-size: 38px;
  }
}

/* Shape Divider */
.custom-shape-divider-bottom-1631174196 {
  z-index: 2;
  position: relative;
  margin-top: -114px;
  bottom: 0em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1631174196 svg {
  z-index: 2;
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 115px;
}

.custom-shape-divider-bottom-1631174196 .shape-fill {
  z-index: 2;
  fill: var(--background);
}
/* Shape Divider */
